{% extends "master.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="column" style="background-color: #dce6f2; padding: 10px;">
      <div class="row">
        <div class="nine columns">
          <div style="color:#1f497d; font-weight:bold; font-size: 28px;">Búsqueda de coincidencias, OFAC</div>
          <div>Busqueda</div>
        </div>
        <div class="three columns">
          <img src="{% static 'images/Logov6black.png' %}" style="width: 80%;">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column" style="background-color:#bfbfbf; height: 20px;"></div>
  </div>

    <div class="row">
      <div class="columns" style="margin-top: 1%">
        <h4>Clientes encontrados con 85% de coincidencia: <span id="total">0</span></h4>
        <div class="row">
          <a class="button button-primary columns three "  id="inicia">Iniciar búsqueda</a>
          <a class="button columns three " href="{% url 'logout' %}">Cerrar Sesion</a>
        </div>
        

        <div id="dialog" title="Buscando Coincidencias">
          <div class="progress-label">Iniciando Busqueda...</div>
          <div id="progressbar"></div>
        </div>

        <div  class="accordion" id="lista" style="margin-bottom: 30px;">  
          
        </div>
      </div>
    </div>
    
    
    <script>
      $( function() {
        $( ".guardadatos" ).click(function(e) {
          var id = $(this).attr('id');
          var comen = $("#comentario"+id).val();
          $("#contenedor"+id).addClass('done');
          $("#forma"+id).remove();
          var dataString = {'id':id,'comentario': comen}
          $.ajax({
            type: "POST",
            url: "{% url 'guarda' %}",
            content_type:'application/json',
            data: dataString,
              success: function() {
            }
          });
        });
      });
    </script>


  <script>

      function sumbitform(id) {
        var form =$("#forms"+id);
        var url = form.attr('action');
        
        $.ajax({type: "POST", url: url, data: form.serialize(), 
              success: function(data)
              {
                  alert('Infromación guardada'); 
              }
            });
        $("#guarda"+id).remove();
        $("#contenedor"+id).css("background-color", "#228b2257");
        $(".forms"+id).attr("disabled", true);
      }
  
    $( function() {

      var progressTimer,
        progressbar = $( "#progressbar" ),
        progressLabel = $( ".progress-label" ),
        exitloop=false,
        dialog = $( "#dialog" ).dialog({
          autoOpen: false,
          closeOnEscape: false,
          resizable: false,
          close: closeDownload,
          overlay: {
            opacity: 0.5,
            background: "black"
          },
          open: function() {
            progressTimer = setTimeout( progress, 100 );
          },
          beforeClose: function() {
            downloadButton.button( "option", {
              disabled: false,
              label: "Iniciando Busqueda"
            });
          }
        }),
        
        downloadButton = $( "#inicia" )
          .button()
          .on( "click", function() {
            $( this ).button( "option", {
              disabled: true,
              label: "Buscando Coincidencias..."
            });
            dialog.dialog( "open" );
          });
  
      progressbar.progressbar({
        value: false,
        change: function() {
          progressLabel.text( "Progreso: " + progressbar.progressbar( "value" ).toFixed(2) + "%" );
        },
        complete: function() {
          progressLabel.text( "Completado" );
        }
      });
  
      {% autoescape off %}
      var nombres={{datsdb}}
      {% endautoescape %}

      var total=0;

      function progress(inindex=0) {
        var val = progressbar.progressbar( "value" ) || 0;
        var tamano=nombres.length;
        var index = inindex+1;
        
        if(tamano>=index && !exitloop){
          var nombresdata=nombres[inindex][1]?nombres[inindex][1].trim():'';
          var apellidosdata=nombres[inindex][2]?nombres[inindex][2].trim():'';
          var nametrim=nombresdata+' '+apellidosdata;
          var dataString = {'nombre':nametrim.trim()}
          $.ajax({
            type: "POST",
            url: "{% url 'compara' %}",
            content_type:'application/json',
            data: dataString
          }).done(function(value) {
            if(value.length>0){
              createitemlist(nombres[inindex][0],value[0])
              total++;
              $("#total").text(total);
              
            }
            progressbar.progressbar( "value", (index/tamano)*100);
            progress(index);            
          });
        }else{
          exitloop=true;
          $( "#dialog" ).dialog("close");
        }
      }

      function closeDownload() {
        exitloop=true;
        $( "#dialog" ).dialog("close");
        alert('Proceso Detenido');
      }

      function uniq(arr) {
        return  arr.reduce((acc, current) => {
          const x = acc.find(item => item.id === current.id);
          if (!x) {
            return acc.concat([current]);
          } else {
            return acc;
          }
        }, []);
      }

      function createitemlist(id, data){
        var div=$('<div></div>');
        var header  =$('<h2></h2>').attr('id','contenedor'+id).text(data.nombre+' - Coincidencias: '+data.total);

        var formcontainer = div.clone()
        var form          = $('<form id="forms'+id+'" action="{% url 'guarda' %}" method="POST"></form>');
        var table         = $('<table style="width: 100%;"><tr><th>Id</th><th>Nomber</th><th>Alias</th><th>tipo</th><th>Jaro</th><th>Sound</th><th>Descartar</th><th>Comentario</th></tr></table>');
        var tr            = $('<tr></tr>');
        
        form.append($('<input type="hidden" name="idcliente" value="'+id+'"/>'));
        form.append($('<a class="button button-primary" id="guarda'+id+'" onclick="sumbitform('+id+')">Guardar Información</a>'));
        form.append($('<input type="hidden" name="nombrecliente" value="'+data.nombre+'"/>'));

        var td            = $('<td></td>');
        var newdatos=uniq(data.datos);
        var compara=[];
        newdatos.forEach(element => {
          var newtr = tr.clone();
          compara.push(element.id);
          form.append($('<input type="hidden" name="nombrecompara-'+element.id+'" value="'+element.nombre+'"/>'));
          newtr.append(td.clone().text(element.id));
          newtr.append(td.clone().text(element.nombre));
          newtr.append(td.clone().text(element.alias));
          newtr.append(td.clone().text(element.tipo));
          newtr.append(td.clone().text(element.jaro.toFixed(2)));
          newtr.append(td.clone().text(element.sound.toFixed(2)));
          form.append($('<input type="hidden" name="jaro-'+element.id+'" value="'+element.jaro.toFixed(2)+'"/>'));
          form.append($('<input type="hidden" name="sound-'+element.id+'" value="'+element.sound.toFixed(2)+'"/>'));
          newtr.append(td.clone().append($('<select class="forms'+id+'" name="conservar-'+element.id+'" id="conservar'+element.id+'" ><option value="0" selected>Descartar</option><option value="1">Reportar</option></select>')));
          newtr.append(td.clone().append($('<input class="forms'+id+'" type="text" max="250" name="observacion-'+element.id+'" id="comentario'+element.id+'" style="width: 400px;"/>')));
          table.append(newtr);
        });
        form.append($('<input type="hidden" name="'+id+'-idcompara" value="'+compara.join()+'"/>'));
        form.append(table);
        formcontainer.append(form);

        $( "#lista" ).append(header);
        $( "#lista" ).append(formcontainer);
        $('.accordion').accordion('destroy').accordion({collapsible: true,active:":last",heightStyle:"content"});
      }
    });
  </script>

{% endblock %}